body {
    background-color: rgb(24, 21, 21);
    padding: 2em;
    font-family: "Poppins", sans-serif;

}
div {
    margin: 20px;
}
h2 {
    color: #7d3c98;
    text-align: center;
    font-size: 5em;
    background: -webkit-linear-gradient(#7d3c98, #ae70c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.row {
    display: flex;
    
}
.column {
    flex: 50%;
}

#avatar-img {
    margin: 1em;
    margin-left: 10em;
    border-radius: 20em;
    width: 30em;
    height: 30em;
}

.user-profile {
    display: column;
    margin: auto;
    padding: 0.5em;
    width: 100em;
    height: 60em;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 0.4 em;
    color: #7d3c98;
    box-shadow: black 5px 5px 20px 20px ;
    

}

#full-name {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0.5em;
    
}
#username {
    font-size: 2em;

}
#user-details {
    margin-top: 1em;
    background-color: #3d1b4449;
    color: #7d3c98;
    padding-bottom: 1.5em;
    box-shadow: 1px 1px 15px 15px;
    
}
#e-mail {
    font-size: 1.5em;

}
#country {
    font-size: 1.5em;

}
#gender {
    font-size:1.5em;
}
#phone {
    font-size: 1.5em;
}
#btn {
    height: 80px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color:#8b44aa ;
    border: none;
    cursor: pointer;
    box-shadow: 0px 12px 0px 0px rgb(153, 1, 153);
    transition: 0.3s;
    border-radius: 25px;
    font-family: sans-serif;

}
#btn:hover {
    transform: translateY(6px);
    box-shadow: 0px 6px 0px 0px purple;
    background-color: #7d3c98;
    


}

.buttondiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
